[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/opt/glide-browser-bin/glide-bin %u
Name=Glide
Comment=Custom definition for Glide
